---

import Gcomponent from '../components/Gcomponent.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		<p>asdaf</p>
	</div>

	<div class="ppp">
		<Gcomponent src="https://http2.mlstatic.com/D_NQ_NP_816665-MLA73871429790_012024-O.webp" 
		titulo="dummy 13" 
		texto="figura de acción articulada"/>
		<Gcomponent src="https://www.neuqueninforma.gob.ar/wp-content/uploads/2022/07/Dinos-3.jpg" 
		titulo="t-rex fossil puzzle" 
		texto="genial para divertise en familia"/>
		<Gcomponent src="" 
		titulo="t-rex fossil puzzle" 
		texto="genial para divertise en familia"/>
	
	</div>	
	<div>
		<p>asfdaf</p>
	</div>
</body>
</html>


<style>
	body{
		margin: 0;
		padding: 0;
	}
	.ppp {
		display: flex;
		flex-wrap: wrap;
		background-color: ;
		align-items: center;
		justify-content: center;
		}
</style>